.root
{
    -fx-background-color: #222222;	
}

.username
{
    -fx-background-color: #DDDDDD;
	-fx-border-style: solid centered;
	-fx-border: 0 0 0 0;
}


.password
{
    -fx-background-color: #DDDDDD;
	-fx-border-style: solid centered;
	-fx-border: 0 0 0 0;
}

.loginbutton
{
    -fx-background-color: #333333;
	-fx-border: 0 0 0 0;
}


.loginbutton:hover
{
    -fx-cursor: hand;
}

.fp:hover
{
	-fx-cursor: hand;
}

.r:hover
{
	-fx-cursor: hand;
}

.checkbox:hover
{
	-fx-cursor: hand;
}

.close_bg:hover
{
    -fx-cursor: hand;
}

.minimize_bg:hover
{
    -fx-cursor: hand;
}