.root
{
    -fx-background-color: #3a3a3a;
    -fx-border-color : #222222;
    -fx-border-width: 2;
}
.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}

.listview  .scroll-bar:vertical{
    -fx-background-color:transparent;
 
}

/* The main scrollbar **track** CSS class  */
.listview .scroll-bar:horizontal .track,
.listview .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-border-radius:2.0em;
}

/* The increment and decrement button CSS class of scrollbar */
.listview .scroll-bar:horizontal .increment-button ,
.listview .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-padding:0.0 0.0 10.0 0.0;

}

/* The increment and decrement button CSS class of scrollbar */

.listview .scroll-bar:vertical .increment-button ,
.listview .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0.0em;
	-fx-padding:0.0 10.0 0.0 0.0;

}

.listview  .scroll-bar .increment-arrow,
.listview  .scroll-bar .decrement-arrow
 {
	-fx-shape: " ";	
	-fx-padding:0.0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.listview .scroll-bar:horizontal .thumb,
.listview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90.0%);
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}
.listview .scroll-bar:horizontal {
    -fx-scale-x: 0.0;
}