.root
{
	-fx-background-color: #222222;
}

.email
{
    -fx-background-color: #DDDDDD;
}

.request
{
    -fx-background-color: #333333;
    -fx-text-fill: #DDDDDD;
}

.request:hover
{
	-fx-background-color: #555555;
	-fx-cursor: hand;
}

.close_bg:hover
{
	-fx-background-color: #ff3333;
	-fx-cursor: hand;
}

.minimize_bg:hover
{
	-fx-background-color: #555555;
	-fx-cursor: hand;
}

.back_bg:hover
{
   	-fx-background-color: #555555;
	-fx-cursor: hand;
}
